body{background-color: #fefbd8;}
a{color:black;}
h1{font-size: 40px;}    
p{font-size: 20px;}


#content{
    text-align: center;
    background-color: white;
    width: 1000px;
    height: 50px;
    padding: 30px;
    margin: 10px;
    border: 5px solid green;
    margin-left: 10%;
    
  }

  #authorimage{
    align-items: center;
    width: 250px;
    height: 250px;
    border: 5px solid black;
    margin-left: 35%;
  }

  a.backtohome{
    color: black;
  }





